<h1>Listing played_holes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @played_holes.each do |played_hole| %>
  <tr>
    <td><%= link_to 'Show', played_hole %></td>
    <td><%= link_to 'Edit', edit_played_hole_path(played_hole) %></td>
    <td><%= link_to 'Destroy', played_hole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Played hole', new_played_hole_path %>
