<% provide(:title, "About") %>

<div class="about_text" style="font-size:3em;">If you don't like...</div>


<div class="row">
	<div class="span12 center">
		<div class="">
			<%= image_tag "rodney_dangerfield.jpg", class: 'rodney' %>
			<%= image_tag "chevy_chase.jpg" %>
		</div>

		<br>

		<div>
			
			<%= image_tag "bill_murray.jpg" %>
		</div>
	</div>
</div>

<br><br>

<div class="about_text">Then you won't like

	<div id="logo_back">

		<span style="color:white;">Caddie</span><span style="color:#479C47">Hack</span>

	</div>

</div>