<% provide(:title, "About") %>

<h1>If you don't like</h1>


<div class="row">
	<div class="span12 center">
		<div class="">
			<%= image_tag "rodney_dangerfield.jpg" %>
			<%= image_tag "chevy_chase.jpg" %>
		</div>

		<br>

		<div>
			<%= image_tag "caddyshack.jpg" %>
			<%= image_tag "bill_murray.jpg" %>
		</div>
	</div>
</div>

<br>

<h1>Then you wouldn't like 

	<div style="background-color:black;display:inline;">

		<span style="color:white;">Caddie</span><span style="color:#479C47">Hack</span>

	</div>

</h1>