<% provide(:title, "Home") %>
<div class="center hero-unit">

  <h1>Envision. Play. Reflect... Repeat</h1>

  <% if current_user %>

  	<%= link_to "Record Round!", states_path, class: "btn btn-large btn-success" %>

  <% else %>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  <% end %>

</div>

