<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>Golf Tracker</h1>

  <h2>
    Track your golf round and gain insight into areas that need improvement.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

